<html>
<head lang="pt">
<meta charset="UTF-8">
<title>Arthur Calazans</title>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1"><![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7cSource+Sans+Pro:200,400,600,700,900,400italic,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/Conube/view/assets/css/vendor.min.css">
<link rel="stylesheet" href="/Conube/view/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/Conube/view/assets/css/theme-default.min.css">
<!-- Fixes for IE-->
<!--[if lt IE 11]>
<link rel="stylesheet" href="/Conube/view/assets/css/ie-fix.css"><![endif]-->
<link rel="icon" href="/Conube/view/assets/img/favicon.png" type="image/x-icon">
</head>
<body class="my_listings_add_edit menu-default hover-default compact add_edit_listing">
<?php include 'svg.html'; ?>
<div class="box js-box">
<header class="header header--brand" style="background: #3aa8db">
<div class="container">
<div class="header__row">
</div>
</header>
<div class="site-wrap js-site-wrap">
